<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eebbk.systemuimodedemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.eebbk.systemuimodedemo.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.eebbk.systemuimodedemo.GetCustomActivity" />
        
        <activity 
            android:name="com.eebbk.systemuimodedemo.LowProfileActivity" />
                
        <activity 
            android:name="com.eebbk.systemuimodedemo.TranslucentActivity" />
        
        <activity 
            android:name="com.eebbk.systemuimodedemo.FullScreenActivity" />
        
        <activity 
            android:name="com.eebbk.systemuimodedemo.WallpaperActivity" 
            android:theme="@style/WallpaperTheme"
            />
        
    </application>

</manifest>
